:root {
  --vp-c-brand-1: #007aff;
  --vp-c-brand-2: #3395ff;
  --vp-c-brand-3: #66aeff;
  --vp-home-hero-name-color: #007aff;
}

.dark {
  --vp-c-brand-1: #3395ff;
  --vp-c-brand-2: #66aeff;
  --vp-c-brand-3: #99c7ff;
  --vp-home-hero-name-color: #3395ff;
}
